@import "../../abstracts/variables";

$moduleName: 'composition';

.#{$moduleName} {
  &__base {
    position: relative;

    &:hover {
      .#{$moduleName}__photo:not(:hover) {
        transform: scale(.85);
      }
    }
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem 0 rgba($c-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    &--pic-1 {
      left: 0;
      top: -2rem;
    }

    &--pic-2 {
      right: 0;
      top: 2rem;
    }

    &--pic-3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem 0 rgba($c-black, 0.5);
      z-index: 20;
      outline: 1.5rem solid $c-mantis;
    }
  }
}